<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規店舗作成</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<h1>新規店舗作成</h1>
	<form th:action="@{/admin/stores}" th:object="${store}" method="post">
		<label for="store_name">店舗名:</label>
		<input type="text" id="store_name" th:field="*{store_name}" required><br>

		<label for="address">住所:</label>
		<input type="text" id="address" th:field="*{address}" required><br>

		<button type="submit">保存</button>
	</form>
</body>
</html>
